.badge {
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 10px;
  min-width: 10px;
  padding: 3px 7px;
  font-size: $font-size-small;
  font-weight: $badge-font-weight;
  color: $badge-color;
  line-height: $badge-line-height;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  background-color: $badge-bg;
  border-radius: $badge-border-radius;

  .active & {
    color: $badge-active-color;
    background-color: $badge-active-bg;
  }
}
